#navi, #infoi {
  width: 55%;
  height: 100%;
  position: absolute;
  top: 100px;
  left: 125px;
}
#infoi {
  z-index: 10;
  padding: 20px;
  margin-left: 37px;
  width: 50%;
  height: 250px;
  border-radius: 25px;
}
.row {
    display:block;
}

.perks {
    background-color: #b2ef92;
    opacity: .95;
    margin: 25px;
    margin-left:15px;
}
.perks p {
    padding-left:15px;
}

.perks ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    line-height: 200%;
  }

  @media (max-width: 992px) {
    .perks ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        line-height: 200%;
      }
      #infoi {
          width:200px;
          margin-left: 15px;
          height:700px;
      }
      #navi, #infoi {
        /* width: 55%; */
        width: 55%;
        height: 350px;
        position: absolute;
        top: 100px;
        left: 75px;
      }
      #infoi {
        z-index: 10;
        padding: 20px;
        border-radius: 25px;
      }
      .perks {
        background-color: #b2ef92;
        opacity: .95;
        margin: 15px;
        margin-left:15px;
    }
  }

  @media (max-width: 600px) {
    .perks ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
        line-height: 200%;
      }
      #infoi {
          width:200px;
          margin-left: 15px;
          height:700px;
      }
      #navi, #infoi {
        /* width: 55%; */
        width: 350px;
        height: 700px;
        position: absolute;
        top: 100px;
        left: 5px;
      }
      #infoi {
        z-index: 10;
        padding: 20px;
        height: 475px;
        border-radius: 25px;
      }
      .perks {
        background-color: #b2ef92;
        opacity: .95;
        margin: 15px;
        margin-left:15px;
    }
  }