#navi, #infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  left: 125px;
}
#infoi {
  z-index: 10;
  padding: 20px;
  margin-left: 15px;
}
.row {
    display:block;
}

.perks {
    background-color: #b2ef92;
    opacity: 85%;
}